adal==1.2.1
aiohttp==3.6.2
aiounittest==1.3.0
alembic==1.4.2
appdirs==1.4.4
applicationinsights==0.11.9
APScheduler==3.6.3
asgiref==3.2.7
astroid==1.6.3
async-timeout==3.0.1
attrs==19.3.0
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.25
azure-cosmos==3.1.2
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel==2.7.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.1.4
blis==0.2.4
botbuilder-ai==4.8.0
botbuilder-applicationinsights==4.8.0
botbuilder-azure==4.8.0
botbuilder-core==4.8.0
botbuilder-dialogs==4.8.0
botbuilder-schema==4.8.0
botframework-connector==4.8.0
boto3==1.12.46
botocore==1.15.46
bs4==0.0.1
CacheControl==0.12.4
cachetools==2.0.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
cmake==3.13.3
colorama==0.3.9
colorlover==0.3.0
cryptography==2.8
cufflinks==0.17.3
cx-Freeze==6.1
cycler==0.10.0
cymem==2.0.3
datedelta==1.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==2.2
django-cleanup==4.0.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-filter==2.2.0
django-heroku==0.3.1
django-markdown-deux==1.0.5
django-markdown2==0.3.1
django-mfa2==1.8.0
django-model-utils==3.1.2
django-nose==1.4.6
django-notifications-hq==1.5.0
django-pagedown==0.1.1
django-pandas==0.6.1
djangorestframework==3.9.2
dlib==19.8.1
docutils==0.15.2
ecdsa==0.15
emoji==0.5.4
entrypoints==0.3
face-recognition==1.3.0
face-recognition-models==0.3.0
fido2==0.7.2
filelock==3.0.12
findspark==1.4.2
firebase-admin==2.10.0
Flask==1.1.1
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
google-api-core==1.1.0
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-firestore==0.29.0
google-cloud-storage==1.8.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grapheme==0.6.0
gunicorn==20.0.4
idna==2.6
idna-ssl==1.1.0
importlib-metadata==1.6.0
importlib-resources==2.0.1
imutils==0.5.3
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
json5==0.9.4
jsonfield==2.0.2
jsonLookup==0.7.5
jsonpickle==1.2
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
keyring==21.2.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
logger==1.4
luis==2.0.2
lxml==4.5.1
Mako==1.1.2
markdown2==2.3.5
MarkupSafe==1.1.1
matplotlib==2.2.2
mccabe==0.6.1
memorize==0.1.1
mfa==0.1.1
mistune==0.8.4
mnist==0.2.2
mp3play==0.1.15
msal==1.1.0
msgpack-python==0.5.6
msrest==0.6.10
msrestazure==0.6.3
multidict==4.7.5
multipledispatch==0.6.0
murmurhash==1.0.2
mysql==0.0.2
mysql-connector-python==8.0.19
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.5
nose==1.3.7
notebook==6.0.3
numpy==1.19.0
oauthlib==3.1.0
onetimepass==1.0.1
opencv-python==3.4.1.15
openface==0.2.1
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pickleshare==0.7.5
Pillow==5.1.0
plac==0.9.6
playsound==1.2.2
plotly==4.8.1
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.5.2.post1
psycopg2==2.8.5
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.19
pygame==1.9.6
Pygments==2.6.1
PyJWT==1.5.3
pylint==1.8.4
pymongo==3.10.1
pyotp==2.3.0
pyparsing==2.2.0
pyrsistent==0.16.0
pytesseract==0.3.4
python-dateutil==2.8.1
python-editor==1.0.4
python-jose==3.1.0
python-u2flib-server==5.0.0
pytz==2018.4
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.0
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
regex==2019.8.19
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
simplejson==3.17.0
six==1.11.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.15
sqlparse==0.2.4
srsly==1.0.2
terminado==0.8.3
testpath==0.4.4
thinc==7.0.8
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
twilio==6.43.0
typing-extensions==3.7.4.2
tzlocal==2.1
ua-parser==0.10.0
urllib3==1.22
user-agents==2.1
virtualenv==20.0.25
wasabi==0.7.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.0.1
widgetsnbextension==3.5.1
wrapt==1.10.11
WTForms==2.2.1
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
yagmail==0.11.224
yarl==1.4.2
zipp==3.1.0
