<br>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white md-3" id="total-students">
				<div class="card-header">
					<h5 class="card-title">Total Students</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_students}}</h3>
				</div>
			</div>		
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="present-students">
				<div class="card-header">
					<h5 class="card-title">Total Students Present</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_students_present}}</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white mb-3" id="absent-students">
				<div class="card-header">
					<h5 class="card-title">Total Students Absent</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_students_absent}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>