{% extends 'face_rec/main.html' %}
{% block content %}
{% include 'face_rec/status.html' %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>View Student</th>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Phone</th>
                    <th>E-mail</th>
                    <th>Description</th>
                    <th>Delete Student</th>
                </tr>
                {% for students in student %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="{% url 'profile' students.student_id %}">View</a></td>
                        <td>{{students.student_id}}</td>
                        <td>{{students.name}}</td>
                        <td>{{students.phone}}</td>
                        <td>{{students.email}}</td>
                        <td>{{students.description}}</td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete' students.student_id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}